.mod_1{
	background : red;
	color:white;
}
.mod_2{
	background : yellow;
}
.mod_3{
	background : navy;
	color:white;
}
.mod_4{
	background : orange;
}
.mod_5{
	background : green;
	color:white;
}
.mod_6{
	background : purple;
	color:white;
}
.mod_7{
	background : red;
	color:white;
}
.mod_8{
	background : green;
	color:white;
}
.mod_9{
	background : yellow;
}

.mod_10{
	background : red;
	color:white;
}
.mod_11{
	background : green;
	color:white;
}
.mod_12{
	background : yellow;
}
